<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5">

	<contextName>wedding</contextName>
	<property name="pattern" value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="stdout" />
	</root>
	
</configuration>