<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5">

	<contextName>wedding-show</contextName>
	<property name="pattern" value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<logger name="summerlee.wedding" level="debug" addtivity="false">
		<appender-ref ref="stdout" />
		<appender-ref ref="all" />
	</logger>
	<logger name="org.springframework" level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="all" />
	</logger>
	<logger name="org.mybatis" level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="all" />
	</logger>
	 
	
</configuration>