<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.DrivelogInfoDao">

	<resultMap id="BaseResultMap" type="com.jbt.bean.DrivelogInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="totalRavelTime" property="totalRavelTime" jdbcType="INTEGER" />
		<result column="mileage" property="mileage" jdbcType="VARCHAR" />
		<result column="totalMileage" property="totalMileage" jdbcType="REAL" />
		<result column="innage" property="innage" jdbcType="VARCHAR" />
		<result column="totalOil" property="totalOil" jdbcType="VARCHAR" />
		<result column="instantaneousFuel" property="instantaneousFuel" jdbcType="REAL" />
		<result column="hundredKmFuel" property="hundredKmFuel" jdbcType="REAL" />
		<result column="averageSpeed" property="averageSpeed" jdbcType="REAL" />
		<result column="idleLong" property="idleLong" jdbcType="INTEGER" />
		<result column="hardaccelerationTimes" property="hardaccelerationTimes" jdbcType="INTEGER" />
		<result column="rapiddecelerationTimes" property="rapiddecelerationTimes" jdbcType="INTEGER" />
		<result column="departureTime" property="departureTime" jdbcType="VARCHAR" />
		<result column="arriveTime" property="arriveTime" jdbcType="VARCHAR" />
		<result column="fromPos" property="fromPos" jdbcType="VARCHAR" />
		<result column="toPos" property="toPos" jdbcType="VARCHAR" />
		<result column="fromPlace" property="fromPlace" jdbcType="VARCHAR" />
		<result column="destination" property="destination" jdbcType="VARCHAR" />
		<result column="saveTime" property="saveTime" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="driverName" property="driverName" jdbcType="VARCHAR" />
		<result column="plateNumber" property="plateNumber" jdbcType="VARCHAR" />
		<result column="maxSpeed" property="maxSpeed" jdbcType="INTEGER" />
		<result column="maxVelocity" property="maxVelocity" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, sn, totalRavelTime, mileage, totalMileage, innage, totalOil,
		instantaneousFuel,
		hundredKmFuel, averageSpeed, idleLong, hardaccelerationTimes,
		rapiddecelerationTimes,
		departureTime, arriveTime, fromPos, toPos, fromPlace, destination, saveTime, state,
		driverName, plateNumber, maxSpeed, maxVelocity
	</sql>
	
	<sql id="carJoinColumnList">
		d.id, c.sn as sn, totalRavelTime, mileage, d.totalMileage, innage, totalOil,
		instantaneousFuel,
		hundredKmFuel, averageSpeed, idleLong, hardaccelerationTimes,
		rapiddecelerationTimes,
		departureTime, arriveTime, fromPos, toPos, fromPlace, destination, saveTime, d.state,
		d.driverName, c.plateNumber as plateNumber, maxSpeed, maxVelocity
	</sql>
	
	<sql id="selective">
		<trim suffixOverrides="AND">
			<if test="id != null">
				id = #{id,jdbcType=INTEGER} AND 
			</if>
			<if test="sn != null">
				sn = #{sn,jdbcType=VARCHAR} AND 
			</if>
			<if test="totalRavelTime != null">
				totalRavelTime = #{totalRavelTime,jdbcType=INTEGER} AND 
			</if>
			<if test="mileage != null">
				mileage = #{mileage,jdbcType=VARCHAR} AND 
			</if>
			<if test="totalMileage != null">
				totalMileage = #{totalMileage,jdbcType=REAL} AND 
			</if>
			<if test="innage != null">
				innage = #{innage,jdbcType=VARCHAR} AND 
			</if>
			<if test="totalOil != null">
				totalOil = #{totalOil,jdbcType=VARCHAR} AND 
			</if>
			<if test="instantaneousFuel != null">
				instantaneousFuel = #{instantaneousFuel,jdbcType=REAL} AND 
			</if>
			<if test="hundredKmFuel != null">
				hundredKmFuel = #{hundredKmFuel,jdbcType=REAL} AND 
			</if>
			<if test="averageSpeed != null">
				averageSpeed = #{averageSpeed,jdbcType=REAL} AND 
			</if>
			<if test="idleLong != null">
				idleLong = #{idleLong,jdbcType=INTEGER} AND 
			</if>
			<if test="hardaccelerationTimes != null">
				hardaccelerationTimes = #{hardaccelerationTimes,jdbcType=INTEGER} AND 
			</if>
			<if test="rapiddecelerationTimes != null">
				rapiddecelerationTimes = #{rapiddecelerationTimes,jdbcType=INTEGER} AND 
			</if>
			<if test="departureTime != null">
				departureTime = #{departureTime,jdbcType=VARCHAR} AND 
			</if>
			<if test="arriveTime != null">
				arriveTime = #{arriveTime,jdbcType=VARCHAR} AND 
			</if>
			<if test="fromPos != null">
				fromPos = #{fromPos,jdbcType=VARCHAR} AND 
			</if>
			<if test="toPos != null">
				toPos = #{toPos,jdbcType=VARCHAR} AND 
			</if>
			<if test="fromPlace != null">
				fromPlace = #{fromPlace,jdbcType=VARCHAR} AND 
			</if>
			<if test="destination != null">
				destination = #{destination,jdbcType=VARCHAR} AND 
			</if>
			<if test="saveTime != null">
				saveTime = #{saveTime,jdbcType=VARCHAR} AND 
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER} AND 
			</if>
			<if test="driverName != null">
				driverName = #{driverName,jdbcType=VARCHAR} AND 
			</if>
			<if test="plateNumber != null">
				plateNumber = #{plateNumber,jdbcType=VARCHAR} AND 
			</if>
			<if test="maxSpeed != null">
				maxSpeed = #{maxSpeed,jdbcType=INTEGER} AND 
			</if>
			<if test="maxVelocity != null">
				maxVelocity = #{maxVelocity,jdbcType=INTEGER} AND 
			</if>
		</trim>
	</sql>
	
	<sql id="querySelective">
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="ids!=null">
				<foreach collection="ids" item="id" open="c.id in (" close=") AND "
					separator=",">
					#{id,jdbcType=INTEGER}
				</foreach>
			</if>
			<if test="queryTimeStart != null and queryTimeStart != ''">
    			<![CDATA[ d.departureTime >= #{queryTimeStart,jdbcType=VARCHAR} AND ]]>
			</if>
			<if test="queryTimeEnd != null and queryTimeEnd != ''">
    			<![CDATA[ d.arriveTime <= #{queryTimeEnd,jdbcType=VARCHAR} AND ]]>
			</if>
			<!--  
			<if test="departureTimeStart != null and departureTimeStart != ''">
    			<![CDATA[ d.departureTime >= #{departureTimeStart,jdbcType=VARCHAR} AND ]]>
			</if>
			<if test="departureTimeEnd != null and departureTimeEnd != ''">
    			<![CDATA[ d.departureTime <= #{departureTimeEnd,jdbcType=VARCHAR} AND ]]>
			</if>
			<if test="arriveTimeStart != null and arriveTimeStart != ''">
    			<![CDATA[ d.arriveTime >= #{arriveTimeStart,jdbcType=VARCHAR} AND ]]>
			</if>
			<if test="arriveTimeEnd != null and arriveTimeEnd != ''">
    			<![CDATA[ d.arriveTime <= #{arriveTimeEnd,jdbcType=VARCHAR} AND ]]>
			</if>
			-->
		</trim>		
	</sql>
	
	<select id="get" resultMap="BaseResultMap" 
		parameterType="com.jbt.bean.DrivelogInfo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM drive_log_info
		<trim prefix="WHERE">
			<include refid="selective" />		
		</trim>
	</select>
	
	<select id="getQueryCount" resultType="int">
		SELECT COUNT(d.id) FROM drive_log_info d INNER JOIN car_info c ON d.sn=c.sn
		<include refid="querySelective" />
	</select>
	
	<select id="getQueryList" resultMap="BaseResultMap">
		SELECT
		<include refid="carJoinColumnList" /> 
		FROM drive_log_info d INNER JOIN car_info c ON d.sn=c.sn
		<include refid="querySelective" />
		ORDER BY d.id DESC
	</select>	

	<select id="getQueryPageList" resultMap="BaseResultMap">
		SELECT
		<include refid="carJoinColumnList" /> 
		FROM drive_log_info d INNER JOIN car_info c ON d.sn=c.sn
		<include refid="querySelective" />
		ORDER BY d.id DESC 
		LIMIT #{start,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
	</select>
	
	<insert id="insert" parameterType="com.jbt.bean.DrivelogInfo">
		INSERT INTO drive_log_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				sn,
			</if>
			<if test="totalRavelTime != null">
				totalRavelTime,
			</if>
			<if test="mileage != null">
				mileage,
			</if>
			<if test="totalMileage != null">
				totalMileage,
			</if>
			<if test="innage != null">
				innage,
			</if>
			<if test="totalOil != null">
				totalOil,
			</if>
			<if test="instantaneousFuel != null">
				instantaneousFuel,
			</if>
			<if test="hundredKmFuel != null">
				hundredKmFuel,
			</if>
			<if test="averageSpeed != null">
				averageSpeed,
			</if>
			<if test="idleLong != null">
				idleLong,
			</if>
			<if test="hardaccelerationTimes != null">
				hardaccelerationTimes,
			</if>
			<if test="rapiddecelerationTimes != null">
				rapiddecelerationTimes,
			</if>
			<if test="departureTime != null">
				departureTime,
			</if>
			<if test="arriveTime != null">
				arriveTime,
			</if>
			<if test="fromPos != null">
				fromPos,
			</if>
			<if test="toPos != null">
				toPos,
			</if>
			<if test="fromPlace != null">
				fromPlace,
			</if>
			<if test="destination != null">
				destination,
			</if>
			<if test="saveTime != null">
				saveTime,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="driverName != null">
				driverName,
			</if>
			<if test="plateNumber != null">
				plateNumber,
			</if>
			<if test="maxSpeed != null">
				maxSpeed,
			</if>
			<if test="maxVelocity != null">
				maxVelocity,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="sn != null">
				#{sn,jdbcType=VARCHAR},
			</if>
			<if test="totalRavelTime != null">
				#{totalRavelTime,jdbcType=INTEGER},
			</if>
			<if test="mileage != null">
				#{mileage,jdbcType=VARCHAR},
			</if>
			<if test="totalMileage != null">
				#{totalMileage,jdbcType=REAL},
			</if>
			<if test="innage != null">
				#{innage,jdbcType=VARCHAR},
			</if>
			<if test="totalOil != null">
				#{totalOil,jdbcType=VARCHAR},
			</if>
			<if test="instantaneousFuel != null">
				#{instantaneousFuel,jdbcType=REAL},
			</if>
			<if test="hundredKmFuel != null">
				#{hundredKmFuel,jdbcType=REAL},
			</if>
			<if test="averageSpeed != null">
				#{averageSpeed,jdbcType=REAL},
			</if>
			<if test="idleLong != null">
				#{idleLong,jdbcType=INTEGER},
			</if>
			<if test="hardaccelerationTimes != null">
				#{hardaccelerationTimes,jdbcType=INTEGER},
			</if>
			<if test="rapiddecelerationTimes != null">
				#{rapiddecelerationTimes,jdbcType=INTEGER},
			</if>
			<if test="departureTime != null">
				#{departureTime,jdbcType=VARCHAR},
			</if>
			<if test="arriveTime != null">
				#{arriveTime,jdbcType=VARCHAR},
			</if>
			<if test="fromPos != null">
				#{fromPos,jdbcType=VARCHAR},
			</if>
			<if test="toPos != null">
				#{toPos,jdbcType=VARCHAR},
			</if>
			<if test="fromPlace != null">
				#{fromPlace,jdbcType=VARCHAR},
			</if>
			<if test="destination != null">
				#{destination,jdbcType=VARCHAR},
			</if>
			<if test="saveTime != null">
				#{saveTime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
			<if test="driverName != null">
				#{driverName,jdbcType=VARCHAR},
			</if>
			<if test="plateNumber != null">
				#{plateNumber,jdbcType=VARCHAR},
			</if>
			<if test="maxSpeed != null">
				#{maxSpeed,jdbcType=INTEGER},
			</if>
			<if test="maxVelocity != null">
				#{maxVelocity,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from drive_log_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from drive_log_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!--  
	<insert id="insert" parameterType="com.jbt.bean.DrivelogInfo">
		insert into drive_log_info (id, sn, totalRavelTime,
		mileage, totalMileage, innage,
		totalOil, instantaneousFuel, hundredKmFuel,
		averageSpeed, idleLong, hardaccelerationTimes,
		rapiddecelerationTimes, departureTime,
		arriveTime, fromPos, toPos,
		fromPlace, destination, saveTime,
		state, driverName, plateNumber,
		maxSpeed, maxVelocity)
		values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR},
		#{totalRavelTime,jdbcType=INTEGER},
		#{mileage,jdbcType=VARCHAR}, #{totalMileage,jdbcType=REAL}, #{innage,jdbcType=VARCHAR},
		#{totalOil,jdbcType=VARCHAR}, #{instantaneousFuel,jdbcType=REAL},
		#{hundredKmFuel,jdbcType=REAL},
		#{averageSpeed,jdbcType=REAL}, #{idleLong,jdbcType=INTEGER},
		#{hardaccelerationTimes,jdbcType=INTEGER},
		#{rapiddecelerationTimes,jdbcType=INTEGER},
		#{departureTime,jdbcType=VARCHAR},
		#{arriveTime,jdbcType=VARCHAR}, #{fromPos,jdbcType=VARCHAR}, #{toPos,jdbcType=VARCHAR},
		#{fromPlace,jdbcType=VARCHAR}, #{destination,jdbcType=VARCHAR},
		#{saveTime,jdbcType=VARCHAR},
		#{state,jdbcType=INTEGER}, (select driverName from motorcade.car_info where sn = #{sn}), (select
		plateNumber from motorcade.car_info where sn = #{sn}),
		#{maxSpeed,jdbcType=INTEGER}, #{maxVelocity,jdbcType=INTEGER})
	</insert>
	-->
	
	<update id="updateByPrimaryKeySelective" parameterType="com.jbt.bean.DrivelogInfo">
		update drive_log_info
		<set>
			<if test="sn != null">
				sn = #{sn,jdbcType=VARCHAR},
			</if>
			<if test="totalRavelTime != null">
				totalRavelTime = #{totalRavelTime,jdbcType=INTEGER},
			</if>
			<if test="mileage != null">
				mileage = #{mileage,jdbcType=VARCHAR},
			</if>
			<if test="totalMileage != null">
				totalMileage = #{totalMileage,jdbcType=REAL},
			</if>
			<if test="innage != null">
				innage = #{innage,jdbcType=VARCHAR},
			</if>
			<if test="totalOil != null">
				totalOil = #{totalOil,jdbcType=VARCHAR},
			</if>
			<if test="instantaneousFuel != null">
				instantaneousFuel = #{instantaneousFuel,jdbcType=REAL},
			</if>
			<if test="hundredKmFuel != null">
				hundredKmFuel = #{hundredKmFuel,jdbcType=REAL},
			</if>
			<if test="averageSpeed != null">
				averageSpeed = #{averageSpeed,jdbcType=REAL},
			</if>
			<if test="idleLong != null">
				idleLong = #{idleLong,jdbcType=INTEGER},
			</if>
			<if test="hardaccelerationTimes != null">
				hardaccelerationTimes = #{hardaccelerationTimes,jdbcType=INTEGER},
			</if>
			<if test="rapiddecelerationTimes != null">
				rapiddecelerationTimes = #{rapiddecelerationTimes,jdbcType=INTEGER},
			</if>
			<if test="departureTime != null">
				departureTime = #{departureTime,jdbcType=VARCHAR},
			</if>
			<if test="arriveTime != null">
				arriveTime = #{arriveTime,jdbcType=VARCHAR},
			</if>
			<if test="fromPos != null">
				fromPos = #{fromPos,jdbcType=VARCHAR},
			</if>
			<if test="toPos != null">
				toPos = #{toPos,jdbcType=VARCHAR},
			</if>
			<if test="fromPlace != null">
				fromPlace = #{fromPlace,jdbcType=VARCHAR},
			</if>
			<if test="destination != null">
				destination = #{destination,jdbcType=VARCHAR},
			</if>
			<if test="saveTime != null">
				saveTime = #{saveTime,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="driverName != null">
				driverName = #{driverName,jdbcType=VARCHAR},
			</if>
			<if test="plateNumber != null">
				plateNumber = #{plateNumber,jdbcType=VARCHAR},
			</if>
			<if test="maxSpeed != null">
				maxSpeed = #{maxSpeed,jdbcType=INTEGER},
			</if>
			<if test="maxVelocity != null">
				maxVelocity = #{maxVelocity,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jbt.bean.DrivelogInfo">
		update drive_log_info
		set sn = #{sn,jdbcType=VARCHAR},
		totalRavelTime = #{totalRavelTime,jdbcType=INTEGER},
		mileage = #{mileage,jdbcType=VARCHAR},
		totalMileage = #{totalMileage,jdbcType=REAL},
		innage = #{innage,jdbcType=VARCHAR},
		totalOil = #{totalOil,jdbcType=VARCHAR},
		instantaneousFuel = #{instantaneousFuel,jdbcType=REAL},
		hundredKmFuel = #{hundredKmFuel,jdbcType=REAL},
		averageSpeed = #{averageSpeed,jdbcType=REAL},
		idleLong = #{idleLong,jdbcType=INTEGER},
		hardaccelerationTimes = #{hardaccelerationTimes,jdbcType=INTEGER},
		rapiddecelerationTimes = #{rapiddecelerationTimes,jdbcType=INTEGER},
		departureTime = #{departureTime,jdbcType=VARCHAR},
		arriveTime = #{arriveTime,jdbcType=VARCHAR},
		fromPos = #{fromPos,jdbcType=VARCHAR},
		toPos = #{toPos,jdbcType=VARCHAR},
		fromPlace = #{fromPlace,jdbcType=VARCHAR},
		destination = #{destination,jdbcType=VARCHAR},
		saveTime = #{saveTime,jdbcType=VARCHAR},
		state = #{state,jdbcType=INTEGER},
		driverName = #{driverName,jdbcType=VARCHAR},
		plateNumber = #{plateNumber,jdbcType=VARCHAR},
		maxSpeed = #{maxSpeed,jdbcType=INTEGER},
		maxVelocity = #{maxVelocity,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<!-- 根据条件查询 行驶记录 -->
	<select id="getPageList" resultMap="BaseResultMap">
		select
		d.*
		from drive_log_info d inner join car_info c on d.sn = c.sn
		where
		c.sectorInfo in (select id from sector_info where managerInfo = #{managerId})
		<if
			test="driveLogInfo.driverName != null and driveLogInfo.driverName != '' ">
			and d.driverName LIKE CONCAT(CONCAT('%',
			#{driveLogInfo.driverName}),'%')
		</if>
		<if
			test="driveLogInfo.plateNumber != null and driveLogInfo.plateNumber != '' ">
			and d.plateNumber LIKE CONCAT(CONCAT('%',
			#{driveLogInfo.plateNumber}),'%')
		</if>
		<if
			test="driveLogInfo.departureTime != null and driveLogInfo.departureTime != '' ">
			and d.departureTime BETWEEN #{driveLogInfo.departureTime} AND
			#{driveLogInfo.arriveTime}
		</if>
		<if test="sectorId != null and sectorId != 0 ">
			and c.sectorInfo = #{sectorId}
		</if>
		order by saveTime desc
		limit #{start},#{pageSize}
	</select>
	<!-- 根据条件查询记录条数 -->
	<select id="getCount" parameterType="com.jbt.bean.DrivelogInfo"
		resultType="java.lang.Integer">
		select
		count(*)
		from drive_log_info d inner join car_info c on d.sn = c.sn
		where
		c.sectorInfo in (select id from sector_info where managerInfo = #{managerId})
		<if
			test="driveLogInfo.driverName != null and driveLogInfo.driverName != '' ">
			and d.driverName LIKE CONCAT(CONCAT('%',
			#{driveLogInfo.driverName}),'%')
		</if>
		<if
			test="driveLogInfo.plateNumber != null and driveLogInfo.plateNumber != '' ">
			and d.plateNumber LIKE CONCAT(CONCAT('%',
			#{driveLogInfo.plateNumber}),'%')
		</if>
		<if
			test="driveLogInfo.departureTime != null and driveLogInfo.departureTime != '' ">
			and d.departureTime BETWEEN #{driveLogInfo.departureTime} AND
			#{driveLogInfo.arriveTime}
		</if>
		<if test="sectorId != null and sectorId != 0 ">
			and c.sectorInfo = #{sectorId}
		</if>
	</select>
	<!-- 批量操作 - 删除数据batchDelete batchFinish -->
	<delete id="batchDelete">
		delete from car_info
		where id in
		<foreach collection="array" item="checkId" index="index" open="("
			close=")" separator=",">
			#{checkId}
		</foreach>
	</delete>
	<select id="selecttotalOil" resultType="java.util.HashMap">
		select
		c.plateNumber as plateNumber,
		sum(d.totalOil) as totalOil,
		sum(d.totalRavelTime) as totalRavelTime,
		sum(d.totalMileage) as totalMileage
		from
		car_info c inner join drive_log_info d on c.sn = d.sn
		where
		c.sectorInfo in (select id from sector_info where managerInfo = #{managerId})
		<if test="startTime != null and startTime != '' ">
			and d.departureTime &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != '' ">
			and d.arriveTime &lt; #{endTime}
		</if>
		<if test="sectorId != null and sectorId != 0 ">
			and c.sectorInfo = #{sectorId}
		</if>
		group by c.plateNumber
	</select>

	<!-- 按年月日分组统计数据 -->
	<select id="selectStatistical_car" resultType="java.util.HashMap">
		select
		<if test="dateType == 2">
			DATE_FORMAT(d.departureTime,"%Y") as date,
		</if>
		<if test="dateType == 1">
			DATE_FORMAT(d.departureTime,"%Y-%m") as date,
		</if>
		<if test="dateType == 0">
			DATE_FORMAT(d.departureTime,"%Y-%m-%d") as date,
		</if>
		sum(d.totalOil) as totalOil,
		sum(d.totalRavelTime) as totalRavelTime,
		sum(d.totalMileage) as totalMileage
		from
		drive_log_info d inner join car_info c on d.sn = c.sn
		where
		c.sectorInfo in
		(select id from sector_info
		where managerInfo = #{managerId}
		<if test="sectorIds !=null">
			AND id IN
			<foreach item="item" collection="sectorIds" separator=","
				open="(" close=")" index="">
				#{item,jdbcType=INTEGER}
			</foreach>
		</if>
		)
		<!-- <if test="sectorId != null and sectorId != 0 "> and c.sectorInfo = 
			#{sectorId} </if> -->

		<if test="sn != null and sn != ''">
			and d.sn = #{sn}
		</if>
		<if test="startTime != null and startTime != '' ">
			and d.departureTime &gt; #{startTime}
		</if>
		<if test="endTime != null and endTime != '' ">
			and d.arriveTime &lt; #{endTime}
		</if>

		<if test="dateType == 2">
			group by DATE_FORMAT(d.departureTime, "%Y")
		</if>
		<if test="dateType == 1">
			group by DATE_FORMAT(d.departureTime, "%Y-%m")
		</if>
		<if test="dateType == 0">
			group by DATE_FORMAT(d.departureTime, "%Y-%m-%d")
		</if>
	</select>

	<select id="selectMileagedLog" resultMap="BaseResultMap">
		SELECT * FROM drive_log_info
		WHERE sn = #{sn,jdbcType=VARCHAR}
		AND totalMileage > 0
		AND <![CDATA[ departureTime >= #{startTime,jdbcType=VARCHAR} AND arriveTime <= #{endTime,jdbcType=VARCHAR} ]]>
		ORDER BY id DESC
	</select>
	
</mapper>