<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jbt.dao.VechileInfoDao">

	<resultMap id="BrandResultMap" type="com.jbt.bean.CarBrand">
		<!--  
		<id column="id" property="id" jdbcType="INTEGER" />
		-->
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="ModelResultMap" type="com.jbt.bean.CarModel">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="brandId" property="brandId" jdbcType="INTEGER" />
		<result column="series" property="series" jdbcType="VARCHAR" />
		<result column="model" property="model" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="BrandColumn">
		brand AS name, brand AS value
	</sql>
	
	<sql id="ModelColumn">
		id, id as brandId, series, model
	</sql>
	
	<select id="getBrandList" resultMap="BrandResultMap">
		SELECT
		<include refid="BrandColumn" />
		FROM vehicle_info GROUP BY brand
	</select>
	
	<select id="getModelList" resultMap="ModelResultMap"
		parameterType="com.jbt.bean.CarModel">
		SELECT 
		<include refid="ModelColumn" />
		FROM vehicle_info
		<trim prefix="WHERE" suffixOverrides="AND">
			<if test="value != null">
				brand = #{value,jdbcType=VARCHAR} AND 
			</if>
		</trim>
	</select>
	
</mapper>